<script type="module">
  import * as bootstrap from 'bootstrap'
</script>
<nav class="navbar navbar-light sticky-top navbar-expand-md shadow-sm bg-body-tertiary">
  <div class="container-fluid  flex-wrap-reverse">
    <a class="navbar-brand" href="{{ '/' | url}}">Welch Lab @ The University of Michigan</a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target=".navbar-collapse"
      aria-controls=".navbar-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="navbar-nav ps-3 pe-2">

      <li class="nav-item">
        <a href="{{ '/' | url}}" {% if page.url == '/' %}class="nav-link active"aria-current="page"{% else %}class="nav-link"{% endif %}>Home</a>
      </li>
      <li class="nav-item">
        <a href="{{ '/team/' | url}}" {% if page.url == '/team/' %}class="nav-link active"aria-current="page"{% else %}class="nav-link"{% endif %}>Team</a>
      </li>
      <li class="nav-item">
        <a href="{{ '/publications/' | url}}" {% if page.url == '/publications/' %}class="nav-link active"aria-current="page"{% else %}class="nav-link"{% endif %}">Publications</a>
      </li>
      <li class="nav-item">
        <a href="{{ '/research/' | url}}" {% if page.url == '/research/' %}class="nav-link active"aria-current="page"{% else %}class="nav-link"{% endif %}">Research</a>
      </li>
      <li class="nav-item">
        <a href="{{ '/software/' | url}}" {% if page.url == '/software/' %}class="nav-link active"aria-current="page"{% else %}class="nav-link"{% endif %}">Software</a>
      </li>
    </ul>
  </div>
</nav>
